.layout-first-page{
  width:100%;
  height:100%;
  display: grid;
  grid-template-areas:
  "hi | . | image | ."
  "hi | . | image | ."
  "desc | desc | desc | button"
  "desc | desc | desc | button"
  "desc | desc | desc | ."
  ". | . | . | .";
}
