.layout-first-page{
  flex:1;
  height:100%;
  padding: 0px 0px 0px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  .welcome-text{
    width: 80%;
    height: 50%;
    color: #ebebeb;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem ;
    p{
      margin: 0px 0px 0px 0px;
    }
    .descThree{
      font-size: 2rem ;
    }
  }
}
