.layout-first-page{
  width:100%;
  height:100%;
  display: grid;
  grid-template-areas:
  ". . image ."
  "welcome . image ."
  "welcome desc desc button"
  ". desc desc button"
  ". desc desc ."
  ". . . .";
  padding: 0px 0px 0px 50px;

  .welcome-text{
    margin-top: 40px;
    font-size: 30px ;
    grid-area: welcome;
  }
}
